@import "src/variables";

.layoutAuthorization {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);


    .title {
        @include text(32px,700,40px,white);
        margin-bottom: 46px;

        @media (max-width: 580px) {
            @include text(18px,700,28px,white);
            margin-bottom: $paddingSmall;

        }
    }

}
